
*{
  margin:0px;
  padding:0px;

}
.clearfix{
  float:noce;
  clear:both;
}
body{
  background-image: url("naote.jpg");

  background-repeat: no-repeat;
}
#global{
  width:65%;
  margin:0px auto;
  margin-top:30px;
  padding:20px;
  background:white;
  box-shadow: 0px 0px 2px gray;
}

#logo{
font-family:"Verdana","Arial";
font-size:20px;
letter-spacing:4px;
line-height:75px;
background:#235E3D;
color:white;
text-align:center;
width:385px;
height:80px;
margin-bottom;20px;
float:left;
text-transform: uppercase;
}

#menu{
    font-family:Helvetica, Arial;
    background:#333;
    widht:100%
    text-transform: uppercase;
    margin-bottom:20px;
}
#menu ul{
    line-height: 46px;
}
#menu ul li{
  height:46px;
  display: line-block;
  transition:all 300ms;

}
#menu uli li:hover{
  background:#235E3D;
}
#menu a{
  display:block;
  color:white;
  text-decoration:none;
  padding-left:30px:
  padding-right:30px;
}

#posts{
  wdth:60%;
  float:left;
  font-family:Helvetica, Arial;
}
.post{
  padding:7px;
  }
.post h2{
  font-size:300px;
  color:#333;
}
.post .date{
  display:block;
  color:gray;
  margin-top:10px;
}
.post p{
  margin-top:10px;
  margin-bottom: 20px;
  line-height:22px;
  text-align: justify;
}
.button-more{
font-zise:14px;
padding:15px;
background:#235E3D;
color:white;
text-decoration:none;
margin-top:10px;
width:70px;
margin-bottom:20px;

}
